@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    overflow: hidden;
    background-image: url('./images/wal.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#header{
    background-color: #17171700;
    color: red;
    font-size: 25px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 5px;
    padding-inline-start: 20px;
    /* box-shadow: 0px 0px 30px 0px black; */
    z-index: 10;
    transition: all ease-in-out 0.5s;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
#header:hover{
    box-shadow: 0px 0px 80px 0px black;
}
*{
    font-family: 'Varela Round', sans-serif;
}
::selection{
background-color: rgba(255, 0, 0, 0.568);
color: #171717;
}
#main{
    overflow-y: scroll;
    background-color: #17171700;
    top: 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    text-align: center;
    overflow-x: hidden;
    padding-block-start: 40px;
    scroll-behavior: smooth;
}
iframe{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 95%;
}
#loader{
    background-color: #17171700;
    position: absolute;
    padding: 10px 10px;
    border-left: red solid 5px;
    border-right: red solid 5px;
    border-top: rgba(255, 0, 0, 0) solid 5px;
    border-bottom: red solid 5px;
    border-radius: 50%;
    top: 48%;
    left: 48%;
    z-index: 20;
    animation: 1s infinite load;
    animation-timing-function: cubic-bezier(0.5 , 1.5 , 0.5, 1.5);
}
@keyframes load {
    100%{
        transform: rotate(360deg);
    }
}
h1{
    color: rgb(255, 255, 255);
}
.display{
    background-color: #ffffff00;
    /* box-shadow: 0px 0px 20px 0px black; */
    width: 95%;
    padding: 10px;
    left: 2.5%;
    border: none;
    border-radius: 4px;
    transition: all ease-in-out 0.4s;
    /* displ/; */
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
}
.display:hover{
width: 85%;

}
.left{
    float: left;
    border-radius: 4px;
    /* height: 180px; */
    max-width: 200px;
    width: 50%;
}
.ans{
position: absolute;
transform: translate(-100% , -20%);
height: 180px;
width: 45%;
background-color: #17171700;
color: aliceblue;
border: none;
}
.mainplayer{
    border-radius: 4px;
    width: 85%;
}
.videotitle{
    font-size: 20px;
background: linear-gradient(to right , rgba(255, 255, 255, 0.26) , rgba(255, 255, 255, 0));
    padding: 5px 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 8px;
}
::-webkit-scrollbar{
background-color: #17171700;

}
::-webkit-scrollbar-thumb{
background-color: rgba(255, 255, 255, 0.062);
border-radius: 4px;
}

*{
    outline: none;
}
.back{
    background-color: #ff6262;
    border: none;
    position: absolute;
    height: 35px;
    top: 5%;
    width: 35px;
    background-image: url('./images/back.svg');
    background-repeat: no-repeat;
    background-position: center;
    right: 10px;
    border-radius: 50%;
    background-size: 80% 80%;
    box-shadow: 0px 0px 20px 0px black;
    transition: all ease-in-out 0.3s;
}
.back:hover{
    transform: rotate(360deg);
}
.banner

{
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(255, 87, 115, 0.26)  ,rgba(101, 255, 204, 0.137));
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: all ease-in-out 0.3s;
}
.banner:hover{
    background: linear-gradient(to right, rgba(255, 87, 115, 0.5)  ,rgba(101, 255, 204, 0.5));

}
#login{
    background-color: #b4b4b400;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    left: 10%;
    right: 10%;
    top: 30%;
    bottom: 30%;
    box-shadow: 0px 0px 50px 0px black;
    border-radius: 4px;
    /* background-image: url('./images/logo.gif'); */
    background-repeat: no-repeat;
    background-position: -250px 50%;
    text-align: right;
    padding-inline-end: 20px;
}
.emailer{
    background-color: rgba(255, 255, 255, 0);
    border: 0.5px rgba(255, 255, 255, 0.178) solid;
    padding: 5px 10px;
    border-radius: 4px;
    color: #afafaf;
    transition: all ease-in-out 0.3s;
}
.emailer:hover{
    box-shadow: 0px 0px 20px 0px black;
}
.subbut{
background-color: #17171700;
color: white;
border: none;
padding: 10px ;
width: 70%;
font-size: large;
backdrop-filter: blur(30px);
-webkit-backdrop-filter: blur(30px);
border-radius: 6px;
transition: all ease-in-out 0.4s;
}
.subbut:hover{
border-radius: 4px;

}
.log{
    font-size: 12px;
    font-style: oblique;
    font-variant: small-caps;
    font-stretch: extra-condensed;
    font-kerning: normal;
    color: #b4b4b4;
}
video{
    border-radius: 8px;
}